@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body {
  font-family: Montserrat, serif;
  font-weight: 500;
  background: #111216;

  &.lock {
    touch-action: none;
    -ms-touch-action: none;
    overflow-y: hidden;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;

}

.border {
  border: 1px solid black;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(17, 18, 22, 0.7);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  @include max-screen(768px){
    height: 70px;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    position: relative;
  }

  .logo__row {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .logo {
    position: absolute;
    display: block;
    margin: auto;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%);
    @include max-screen(1200px){
      display: none;
    }
    @include max-screen(767.98px){
      display: block;
    }
  }


  .menu__nav {
    z-index: 10;
    .menu__body {

      @include max-screen(767.98px) {
        position: fixed;
        top: 0;
        left: -100%;
        background: #988371;
        width: 100%;
        height: 100vh;
        transition: 0.3s ease;
      }

      &.opened {
        left: 0;
        transition: 0.3s ease;
      }

      .nav__items {
        display: flex;
        column-gap: 54px;
        @include max-screen(767.98px) {
          margin-top: 70px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 50px;
        }

        .nav__item {
          font-family: 'Montserrat', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          opacity: 0.7;
          @include max-screen(767.98px) {
            width: 100%;
            display: flex;
            height: 100%;
            opacity: 1;
            line-height: 100%;

            justify-content: center;
            align-items: center;
            font-size: 30px;
          }

          & > a:hover {
            color: #20ADA3;
            opacity: 1;
          }
        }
      }
    }
  }

  .burger__btn {
    display: none;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 100;
    @include max-screen(767.98px) {
      display: block;
    }
  }

  .burger__btn span, .burger__btn::before, .burger__btn::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.3s ease;
  }

  .burger__btn::before {
    top: 0;
  }

  .burger__btn::after {
    bottom: 0;
  }

  .burger__btn span {
    top: calc(50% - 1px);
    background-color: white;
  }

  .burger__btn.opened span {
    width: 0;
    transition: 0.3s ease;
  }

  .burger__btn.opened:before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
    transition: 0.3s ease;
  }

  .burger__btn.opened:after {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
    transition: 0.3s ease;
  }

  .header__right {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .header__social {
    z-index: 2;
    max-width: 136px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin-right: 26px;

    @include max-screen(1200px){
      margin-right: 15px;
    }
    @include max-screen(1000px){
     max-width: 100px;
    }
    @include max-screen(767.98px){
      position: absolute;
      left: 15px;
      max-width: 136px;
    }
    @include max-screen(500px){
      max-width: 100px;
    }

    .header__social-item {
      width: 34px;
      height: 34px;
      background: rgba(17, 18, 22, 0.1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      @include max-screen(1000px){
        width: 27px;
        height: 27px;
      }
      &:hover{
        transition: 0.3s;
        background: #20ADA3;
      }

      svg{
        @include max-screen(1000px){
          width: 50%;
        }
      }

    }

  }

  .how-to-connect {
    z-index: 2;
    cursor: pointer;
    height: 47px;
    padding: 15px;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 23.5px;
    margin-right: 27px;
    transition: 0.3s;


    @include max-screen(1200px){
      margin-right: 15px;
    }
    @include max-screen(1000px){
      height: 40px;
      padding: 8px;
    }
    @include max-screen(767.98px){
      display: none;
    }


    &:hover {
      transition: 0.3s;
      background-color: #20ADA3;

    }
    a{
      display: flex;
      align-items: center;
    }

    span {
      font-family: 'Montserrat', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-left: 12px;
      display: flex;
      flex-shrink: 0;
      @include max-screen(1200px){
        flex-shrink: 1;
        width: 70%;
        text-align: center;
      }
      @include max-screen(1000px){
        font-size: 12px;
        margin-left: 10px;
      }

    }
    svg{
      @include max-screen(1000px){
        display: none;
      }

    }



  }

  .template__switch {
    cursor: pointer;
    width: 160px;
    z-index: 2;
    height: 47px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 23.5px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    transition: 0.3s;
    &:hover{
      transition: 0.3s;
      background: #20ADA3;
    }
    @include max-screen(900px){
      width: 47px;
      padding: 0;
    }
    @include max-screen(1000px){
      height: 40px;
    }
    @include max-screen(767.98px){
      display: none;
    }
    &>div{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg{
      @include max-screen(1000px){
        width: 80%;
      }

    }

    span {
      font-size: 14px;
      flex-shrink: 0;
      display: flex;
      color: #FFFFFF;
      margin-left: 17px;
      @include max-screen(1000px){
        font-size: 12px;
        margin-left: 10px;
      }
      @include max-screen(900px){
        display: none;
      }
    }
  }

}

.main {
  height: 100vh;
  background: #111216 url("../images/bg/header-bg.png") -100px 150px  no-repeat;
  padding-top: 100px;
  display: flex;
  align-items: center;
  position: relative;


  .main__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include max-screen(767.98px){
      flex-direction: column;
      height: 100%;
      justify-content: center;

    }

  }

  .main-left {
    @include max-screen(767.98px){
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    .online-row {
      display: flex;
      align-items: center;
      margin-bottom: 51px;
      @include max-screen(767.98px){
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 20px 0 20px;
      }

      .online__quantity {


        span {
          padding: 15px 23px 15px 25px;
          position: relative;
          display: flex;
          align-items: center;
          color: white;
          font-size: 16px;
          margin-right: 20px;
          background: linear-gradient(90deg, #20ADA3 0%, #E5B044 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include max-screen(1000px){
            font-size: 14px;
          }
          @include max-screen(767.98px){
            font-size: 16px;
          }
          @include max-screen(450px){
            font-size: 10px;
            padding: 15px;
          }

          &::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #20ADA3 0%, #E5B044 100%);
            opacity: 0.1;
            border-radius: 44px;
            left: 0;


          }

          &::before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 15px;
            background-image: url("../images/online-icon.svg");
            margin-right: 12px;
          }
        }
      }

      .ip__server {
        display: flex;
        align-items: center;

        svg {
          opacity: 0.7;
        }

        span {
          display: flex;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
          opacity: 0.7;
          @include max-screen(1000px){
            font-size: 14px;
          }
          @include max-screen(767.98px){
            font-size: 16px;
          }
          @include max-screen(450px){
            font-size: 12px;
          }

          &:before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-left: 1px solid #FFFFFF;
            opacity: 0.1;
            @include max-screen(767.98px){
              display: none;
            }
          }

          &:after {
            content: "";
            display: inline-block;
            margin-left: 14px;
          }
        }
      }
    }

    .main-tittle {
      display: flex;
      margin-bottom: 53px;

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        align-items: center;
        color: #FFFFFF;
        line-height: 49px;
        @include max-screen(1250px){
          font-size: 35px;
        }
        @include max-screen(1100px){
          max-width: 100%;
          font-size: 30px;
        }
        @include max-screen(950px){
          font-size: 25px;
          line-height: 35px;
        }
        @include max-screen(950px){
          max-width: 100%;
          font-size: 22px;
        }
        @include max-screen(767.98px){
          width: 100%;
          text-align: center;

        }

      }

      span {
        display: inline-block;
        color: #20ADA3;
      }
    }

    .main__btn {
      position: relative;
      background: #20ADA3;
      border-radius: 8px;
      height: 55px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      transition: 0.3s;
      z-index: 2;
      @include max-screen(767.98px){
        width: 60%;
        margin: auto;
      }
      @include max-screen(500px){
        width: 80%;

      }

      &:hover {
        opacity: 0.5;
        transition: 0.3s;

      }

      svg {
        margin-right: 13px;
      }
    }



  }
  .scroll__down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%);
    animation: mouse 3s infinite;

    @keyframes mouse {
      0%{
        bottom: 50px;
      }

      100%{
        bottom: 10px;
      }

    }

    svg {
      opacity: 0.5;
    }
  }
}






.donat-main {
  padding-top: 29px;
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.02);
  background: url("../images/bg/donat-bg.png")  no-repeat;
  background-position: bottom 150px right -200px;

  .donat-tittle__container {
    margin-bottom: 30px;


    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;

      span {
        color: #20ADA3;
      }
    }
  }

  .donat-filter__container {
    display: flex;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 30px;
    @include max-screen(767.98px){
      margin-bottom: 10px;
    }
    @include max-screen(500px){
      height: 40px;
    }

    .donat-item {
      background: rgba(255, 255, 255, 0.05);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: 0.3s ease;

      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      &:first-of-type{
        border-radius: 8px 0 0 8px;
      }
      &:last-of-type{
        border-radius: 0 8px 8px 0;
      }
      &.active{
        background: #20A49A;
      }

      &::after {
        position: absolute;
        right: 0;
        content: "";
        display: inline-block;
        height: 19px;
        border-right: 1px solid #FFFFFF;
        opacity: 0.1;
      }

      &:hover {
        background: #20A49A;
      }


      &:nth-child(4) {
        &::after {
          display: none;
        }
      }
      @include max-screen(500px){
        font-size: 14px;
      }
    }
  }

  .donat-info__container {
    display: flex;
    justify-content: space-between;

    .left-side {
      width: 33%;

      height: 520px;
      row-gap: 15px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 1px;

      }

      &::-webkit-scrollbar-track {
        border: 1px solid rgba(255, 255, 255, 0.05);
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
      }

      .pre-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 74px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 12px;
        width: 97%;
        padding-left: 18px;
        margin-bottom: 15px;
        cursor: pointer;
        overflow: hidden;








        @include max-screen(1000px){
          padding-left: 8px;
        }
        @include max-screen(767.98px){
          margin-bottom: 5px;
          height: 55px;
        }
        @include max-screen(580px){
          height: 40px;
        }


        @include max-screen(450px){
          padding-left: 5px;
        }

        &::before {
          position: absolute;
          left: 50px;
          content: "";
          display: inline-block;
          width: 1px;
          height: 20px;
          margin-left: 18px;
          border: 1px solid rgba(255, 255, 255, 0.05);
          @include max-screen(1000px){
            display: none;
          }
        }

        img {
          display: block;
          @include max-screen(1000px){
            width: 20px;
          }
          @include max-screen(450px){
            display: none;
          }
        }

        .pre-info {
          position: relative;
          height: 100%;
          width: 100%;
          padding-right: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &::after{
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            display: inline-block;
            width: 0;
            height: 100%;
            border-radius: 12px;
            transition: 1s ease;
          }
          &.active-blue::after{
            background: #2884D4;
            width: 94%;
            transition: 1s;
            @include max-screen(1000px){
              width: 98%;
            }
            @include max-screen(450px){
              width: 100%;
            }

          }
          &.active-brown::after{
            background: #988371;
            width: 94%;
            transition: 1s;
            @include max-screen(1000px){
              width: 98%;
            }
            @include max-screen(450px){
              width: 100%;
            }
          }
          &.active-yellow::after{
            background: #FAF51E;
            width: 94%;
            transition: 1s;
            @include max-screen(1000px){
              width: 98%;
            }
            @include max-screen(450px){
              width: 100%;
            }
          }
          &.active-pink::after{
            background: #FF2382;
            width: 94%;
            transition: 1s;
            @include max-screen(1000px){
              width: 98%;
            }
            @include max-screen(450px){
              width: 100%;
            }
          }
          &.active-green::after{
            background: #85F51E;
            width: 94%;
            transition: 1s;
            @include max-screen(1000px){
              width: 98%;
            }
            @include max-screen(450px){
              width: 100%;
            }
          }

          &.active-purple::after{
            background: #7623D4;
            width: 94%;
            transition: 1s;
            @include max-screen(1000px){
              width: 98%;
            }
            @include max-screen(450px){
              width: 100%;
            }
          }


          @include max-screen(750px){
            padding-right: 10px;
          }




          .pre-item-name {
            display: flex;
            align-items: center;
            margin-left: 38px;
            z-index: 2;
            @include max-screen(1000px){
              margin-left: 15px;
            }
            @include max-screen(750px){
              margin-left: 5px;
            }


            .check {
              width: 24px;
              height: 24px;
              opacity: 0.2;
              border: 1px solid #FFFFFF;
              border-radius: 50%;
              margin-right: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s ease;
              &::after{
                content: "";
                display: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: #D9D9D9;
                transition: 0.3s ease;
              }
              &.active::after{
                transition: 0.3s ease;
                display: inline-block;
              }
              &.active{
                opacity: 1;
                transition: 0.3s ease;
              }
              @include max-screen(750px){
                width: 15px;
                height: 15px;
              }
              @include max-screen(750px){
                display: none;
              }

            }

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            p {
              margin-left: 5px;
              color: rgba(255, 255, 255, 0.7);
              @include max-screen(850px){
                display: flex;
                flex-direction: column;
              }
              @include max-screen(500px){
                font-size: 10px;
              }


              span {
                color: rgba(255, 255, 255, 1);

              }
            }
          }

          .pre-price {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            z-index: 2;
            @include max-screen(570px){
              position: absolute;
              top: 3px;
              right: 5px;
              font-size: 10px;
            }

            @include max-screen(450px){

              font-size: 7px;
            }

            p {
              color: #FFFFFF;

              span {
                color: #FFB524;
              }
            }
          }
        }


      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 67%;
      height: 520px;
      margin-left: 16px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 12px;
      @include max-screen(900px){
        margin-left: 8px;
      }
      @include max-screen(700px){
        margin-left: 5px;
      }

      .prev-tittle-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 76px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        @include max-screen(767.98px){
          height: 60px;
        }

        .name {
          margin-left: 21px;
          @include max-screen(767.98px){
            margin-left: 10px;
          }
          @include max-screen(400px){
            width: 40px;
          }

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            opacity: 0.7;
            @include max-screen(850px){
              font-size: 12px;
            }
            @include max-screen(650px){
              font-size: 9px;
            }
            @include max-screen(500px){
              font-size: 6px;
            }
            @include max-screen(400px){
              display: block;
              line-height: inherit;
            }

          }

          p {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #FFFFFF;
            @include max-screen(600px){
              font-size: 18px;
            }


          }
        }

        .price {
          display: flex;
          align-items: center;
          margin-right: 21px;
          @include max-screen(767.98px){
            margin-right: 10px;
          }

          p {
            display: inline-flex;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFB424;
            margin-right: 16px;
            @include max-screen(850px){
              font-size: 12px;
            }
            @include max-screen(650px){
              font-size: 10px;
              margin-right: 8px;
            }
            @include max-screen(650px){
              font-size: 7px;

            }

            &::after {
              content: "";
              display: inline-block;
              width: 22px;
              height: 18px;
              background: url("../images/previl/Coupon.svg") center center;
              background-size: auto;
              margin-left: 6px;
             @include max-screen(600px){
               width: 18px;
               height: 18px;
               background-size: cover;
             }
            }

          }

          span {
            position: relative;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            @include max-screen(850px){
              font-size: 20px;
            }
            @include max-screen(650px){
              font-size: 16px;
            }
            @include max-screen(650px){
              font-size: 10px;

            }

            &::before {
              content: "";
              display: inline-block;
              width: 1px;
              height: 16px;
              background-color: #FFFFFF;
              opacity: 0.2;
              margin-right: 10px;
            }
          }
        }
      }

      .prev-details{
        margin-top: 11px;
        margin-left: 21px;
        margin-bottom: 30px;
        flex: 1 1 auto;
        @include max-screen(767.98px){
          margin-left: 10px;
        }

        .parent2{
          overflow: auto;
          transform: scaleX(-1);
          padding-left: 8px;
          max-width: 590px;


          &::-webkit-scrollbar {
            width: 1px;
          }
          &::-webkit-scrollbar-track {
            border: 1px solid rgba(255, 255, 255, 0.05);
          }

          &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
          }

          .sleeve2 {
            transform: scaleX(-1);
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            justify-content: left;
            color: #FFFFFF;
            opacity: 0.7;
            padding-left: 8px;
          }
          .demo {
            max-height: 255px;
            flex-direction: column;

            p{
              display: block;
              width: 100%;
            }
          }


        }
        h3{

          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
          margin-bottom: 9px;
        }


      }

      .prev-payment {
        padding: 0 20px 0 20px;

        position: relative;
        height: 109px;
        border-top: 1px dashed rgba(255, 255, 255, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen(767.98px){
          padding: 0 10px 0 10px;
          flex-wrap: wrap;



        }

        &::before, &::after{
          position: absolute;
          top: -8px;
          right: -8px;
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #111216;
        }
        &::after{
          left: -8px;
        }
        .term{
          display: flex;
          max-width: 352px;
          align-items: center;
          width: 100%;
          height: 56px;
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.05);
          @include max-screen(1100px){
            max-width: 300px;
          }
          @include max-screen(980px){
            max-width: 250px;
            height: 40px;
          }
          @include max-screen(767.98px){
            max-width: 100%;
          }


          .term-item{
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.3s ease;

            &:first-of-type{
              border-radius: 10px 0 0 10px;
              overflow: hidden;
            }
            &:last-of-type{
              border-radius: 0 10px 10px 0;
              overflow: hidden;
            }
            &.active{
              transition: 1s ease;
              background: #20A49A;
              & span{
                color: #111216;
                opacity: 1;
              }
              & .sale{
                background: #FFB424;
                color: #111216;
              }
            }








            .sale{
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 0;
              right: 0;
              width: 45px;
              height: 17px;
              background: rgba(255, 255, 255, 0.1);
              border-radius: 0 0 0 9px;

              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 15px;
              color: rgba(255, 255, 255, 0.33);
              @include max-screen(1100px){
                height: 14px;
                font-size: 10px;
              }
            }
            .recommendation{
              display: flex;
              position: absolute;
              top: -17px;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 17px;
              background: #FFFFFF;
              transition: 0.3s ease;

              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              color: #000000;
              @include max-screen(1100px){
                font-size: 10px;
              }
              @include max-screen(450px){
                font-size: 8px;
              }
              @include max-screen(380px){
                font-size: 6px;
              }

            }
            span{
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
              opacity: 0.7;
              @include max-screen(980px){
                font-size: 12px;
              }
            }
          }
        }

        .nickname{
          position: relative;
          max-width: 180px;
          width: 100%;
          height: 56px;
          display: flex;
          align-items: center;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 12px;
          padding-left: 20px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
          @include max-screen(1250px){
            max-width: 150px;
            padding-left: 10px;
          }
          @include max-screen(1100px){
            max-width: 150px;
            padding-left: 15px;
          }
          @include max-screen(980px){
            max-width: 140px;
            padding-left: 5px;
            height: 40px;
          }
          @include max-screen(875px){
            max-width: 100px;
          }
          @include max-screen(767.98px){
            max-width: 45%;
          }


          svg{
            margin-right: 17px;

            @include max-screen(1100px){
              margin-right: 5px;
              margin-left: 5px;
            }
            @include max-screen(980px){
              width: 15%;
            }
            @include max-screen(450px){
              width: 10%;
            }
          }
          span{
            display: flex;
            align-items: center;
          }
          span::before{
            content: "";
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: rgba(255, 255, 255, 0.15);
            margin-right: 12px;
            @include max-screen(450px){
              margin-right: 5px;
            }
          }
          input{
            width: 65%;
            display: flex;
            background-color: transparent;
            outline: none;
            align-items: center;
            position: relative;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            @include max-screen(900px){
              font-size: 10px;
              width: 55%;
            }
            @include max-screen(767.98px){
              font-size: 14px;
              width: 70%;
            }
            @include max-screen(650px){
              font-size: 14px;
              width: 60%;
            }
            @include max-screen(450px){
              font-size: 10px;

            }


            &::placeholder{

              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              color: #FFFFFF;
              display: flex;
              align-items: center;
              top: 3px;
              @include max-screen(980px){
                font-size: 10px;
              }
              @include max-screen(767.98px){
                font-size: 14px;
              }
              @include max-screen(600px){
                font-size: 11px;
              }

            }

          }
          label{
            display: none;
          }
        }


        button{
          height: 56px;
          max-width: 205px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #76DBA1;
          border-radius: 12px;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          transition: 0.3s;
          &:hover{
            opacity: 0.5;
          }

          @include max-screen(1250px){
            max-width: 150px;
            font-size: 12px;
          }
          @include max-screen(1100px){
            max-width: 120px;
            line-height: 15px;
          }

          @include max-screen(980px){
            max-width: 120px;
            line-height: 15px;
            height: 40px;
            font-size: 10px;
          }
          @include max-screen(875px){
            max-width: 90px;
          }
          @include max-screen(767.98px){
            max-width: 45%;
            font-size: 14px;
          }
          @include max-screen(600px){
            font-size: 11px;
          }
        }
      }

    }


  }
  .hide{
    display: none;
  }
}


.question{
  padding: 34px 0 34px 0;
  h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 30px;
    span{
      color: #20A49A;
    }
  }

  .accordion{
    width: 100%;

    &__item{
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(59.5px);
      border-radius: 12px;
      margin-bottom: 15px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      @include max-screen(550px){
        font-size: 12px;
      }
      @include max-screen(450px){
        font-size: 10px;
      }

      span{
        color: #76DBA1;
      }

    }

    &__head{
      background-color: #696666;
      padding: 15px 25px;
      cursor: pointer;
      border-radius: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      opacity: 0.7;
      position: relative;
      user-select: none;
      &:before{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/accordion.svg") center center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
      }
    }


    &__content{
      padding: 0 25px;
      height: 0;
      overflow: hidden;
      transition: 0.5s ease;
    }



    &--active{
      .accordion__content{
        padding: 23px 24px;
        height: 100px;
        display: flex;
        align-items: center;
        transition: 0.7s ease;
      }
      .accordion__head{
        background: #20A49A;
        color: #111216;
        opacity: 1;
        &:before{
          border-top-color: #fff;
          transform: rotate(180deg);
        }
      }
    }
  }

}

.footer {
  position: relative;
  background: rgba(255, 255, 255, 0.02);
  height: 121px;
  @include max-screen(767.98px){
    height: 90px;
  }
  @include max-screen(600px){
    height: 70px;
  }
  .footer__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-left{
      display: flex;
      align-items: center;
      justify-content: space-between;;
      a{
        display: flex;
        align-items: center;
        margin-right: 20px;


        @include max-screen(600px){
          margin-right: 0;
        }
        svg{
          @include max-screen(600px){
            width: 40%;
          }
        }

        &::after{
          content: "";
          display: inline-block;
          width: 1px;
          height: 13px;
          background-color: #FFFFFF;
          opacity: 0.3;
          margin-left: 20px;


        }
      }
      p{
        display: flex;
        align-items: center;
        padding: 13px 17px;
        font-size: 14px;
        color: #FFFFFF;
        opacity: 0.7;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 21px;
        @include max-screen(1000px){
          font-size: 12px;
        }
        @include max-screen(870px){
          font-size: 10px;
        }
        @include max-screen(720px){
          font-size: 8px;
          padding: 5px 10px;
        }
        @include max-screen(600px){
          font-size: 8px;
        }
        @include max-screen(450px){
          font-size: 6px;
        }


        svg{
          margin-right: 12px;
        }


      }

    }
    .footer-right{
      display: flex;
      align-items: center;

      a{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        opacity: 0.7;
        margin-right: 25px;
        @include max-screen(1000px){
          font-size: 12px;
        }
        @include max-screen(870px){
          font-size: 10px;
        }
        @include max-screen(720px){
          font-size: 8px;
        }
        @include max-screen(600px){
          margin-right: 0;
          font-size: 10px;
        }
        @include max-screen(400px){
          font-size: 5px;
        }
        &::after{
          content: "";
          display: inline-block;
          width: 1px;
          height: 13px;
          background-color: #FFFFFF;
          opacity: 0.3;
          margin-left: 27px;
          @include max-screen(600px){
            display: none;
          }

        }
      }
      p{
        padding: 12px 15px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 21px;
        font-size: 14px;
        color: #FFFFFF;
        @include max-screen(1000px){
          font-size: 12px;
        }
        @include max-screen(870px){
          font-size: 10px;
        }
        @include max-screen(720px){
          font-size: 8px;
          padding: 5px 10px;
        }
        @include max-screen(600px){
          position: absolute;
          width: 100%;
          bottom: 3px;
          left: 0;
          display: flex;
          justify-content: center;
          border: none;
          font-size: 6px;
        }

      }
    }
  }
}




.slider-section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include max-screen(767.98px){
    position: relative;
    height: inherit;
    background: #111216
  }
  @include max-screen(1200px){
    height: 70vh;
  }


  .right-slider{
    position: absolute;
    right: 15px;
    @include max-screen(767.98px){
      position: relative;
      right: 0;
      display: flex;
      justify-content: center;
    }
  }
  .slider__container{
    position: relative;
    height: 100vh;
    @include max-screen(767.98px){
    height: inherit;
      margin-bottom: 50px;
    }
    .slider{
      position: relative;
      max-width: 545px;
      border-radius: 0 0 15px 15px;
      overflow: hidden;

      @include max-screen(1250px){
        max-width: 450px;
      }
      @include max-screen(1000px){
        max-width: 380px;
      }
      @include max-screen(850px){
        max-width: 350px;
      }
      @include max-screen(767.98px){
        max-width: 75%;
        border-radius: 15px;
      }
      @include max-screen(600px){
        max-width: 90%;
      }
      @include max-screen(600px){
        max-width: 100%;
      }


      .owl-nav{
        max-width: 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 30px;
        right: 15px;
        @include max-screen(400px){
          display: none;
        }
        .owl-next {
          width: 20px;
          height: 20px;
          background: url("../images/accordion.svg");
          background-size: cover;
          transform: rotate(90deg);
          span{
            display: none;
          }
        }
        .owl-prev {
          width: 20px;
          height: 20px;
          background: url("../images/accordion.svg");
          background-size: cover;
          transform: rotate(-90deg);
          span{
            display: none;
          }

        }
      }
      .owl-dots{
        position: absolute;
        bottom: 72px;
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 100%;
        .owl-dot{
          height: 3px;
          width: 100%;
          background: #111216;
          opacity: 0.4;
          &.active{
            background: #111216;
            opacity: 0.6;
          }
        }


        span{
          width: 400px;
          display: none;
        }
      }
      .slider-item{
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include max-screen(1200px){
          min-height: auto;
        }
        @include max-screen(767.98px){
          min-height: 75vh;
        }
        .top{
          flex: 1 1 auto;
          padding-top: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(-45deg, #CBB051, #48AE90, #23a6d5, #23d5ab);
          background-size: 200% 200%;
          animation: gradient 5s ease infinite;
          @include max-screen(767.98px){
            padding-top: 0;
          }
          @keyframes gradient {
            0% {
              background-position: 0 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0 50%;
            }
          }
          img{
            display: block;
            width: 65%;
          }
        }
        .bottom{
          height: 92px;
          background-color: white;
          display: flex;
          align-items: center;
          padding: 0 28px;
          @include max-screen(600px){
            padding: 0 10px;
          }
          svg{
            margin-right: 17px;
          }
          p{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            align-items: center;
            color: #111216;
            @include max-screen(430px){
              font-size: 12px;
            }

            span{
              color: #20ADA3;
            }
          }
        }
      }
    }
  }
}








