@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body{
  &.lock{
    touch-action: none;
    -ms-touch-action: none;
    overflow-y: hidden;
  }
}
.wrapper{
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main{
  flex: 1 1 auto;
}
[class*="__container"]{
  max-width: 1310px;
 padding: 0 15px;
  margin: 0 auto;

}

.border{
  border: 1px solid black;
}
header{
  height: 80px;
  .header__container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .logo{
    display: block;
    max-width: 20%;
    width: 100%;
  }
  .menu__nav{
    .menu__body{
      @include max-screen(767.98px){
        position: fixed;
        top: 0;
        left: -100%;
        background-color: aqua;
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
      }
      &.opened{
        left: 0;
        transition: 0.3s ease;
      }
      .nav__items{
        display: flex;
        column-gap: 20px;
        @include max-screen(767.98px){
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .nav__item{
         @include max-screen(767.98px){
           width: 100%;
           border: 1px solid black;
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 30px;
         }
        }
      }
    }
  }

  .burger__btn{
      display: none;
      flex: 0 0 30px;
      height: 18px;
      position: relative;
      z-index: 5;
    @include max-screen(767.98px){
    display: block;
    }
    }
  .burger__btn span, .burger__btn::before, .burger__btn::after{
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.2s ease;
  }
  .burger__btn::before{
    top: 0;
  }
  .burger__btn::after{
    bottom: 0;
  }
  .burger__btn span{
    top: calc(50% - 1px);
    background-color: black;
  }
  .burger__btn.opened span{
    width: 0;
    transition: 0.2s ease;
  }
  .burger__btn.opened:before{
    top: calc(50% - 1px);
    transform: rotate(45deg);
    transition: 0.2s ease;
  }
  .burger__btn.opened:after{
    top: calc(50% - 1px);
    transform: rotate(-45deg);
    transition: 0.2s ease;
  }

}
